{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="{{post_class}}">
    <header>
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
    </header>
    <div class="timestamp">
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM D YYYY"}}</time>
    </div>
</article>
{{/foreach}}
